# Node
node_modules
.next
out

# Python
__pycache__
.venv
backend/.venv/*
backend/.venv
*/.venv
*/.venv/*
venv
backend/venv/*
backend/venv
*/venv
*/venv/*
backend/storage/
*.pyc

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
